.dashboard-main-card {
  background-color: white;
  border-radius: 2px;
  border-color: #dee2e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: solid 6px var(--main-text);
}

.card-body-dashboard {
  padding: 20px 10px 0px 20px;
}

.card-title {
  color: #959595;
  font-size: 18px;
  font-weight: 400;
}

.card-value {
  font-size: 25px;
  font-weight: 600;
}

.card-unit {
  color: #959595;
  font-weight: 400;
  font-size: 21px;
}

.fa {
  font-size: 25px;
  color: var(--main-text);
}

.dashboard-main-card-icon {
  margin-right: 10px;
}