.navbar {
  height: 60px;
  background-color: white;
  color: white;
  display: grid;
  padding: 0 20px;
  position: sticky;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container-fluid {
  display: flex;
  align-items: center; /* 세로 방향 중앙 정렬 */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 30px;
  height: 30px;
}

.logo-text {
  margin-left: 8px;
  font-size: 20px;
  font-weight: 900;
  color: rgb(73, 73, 73);
  position: relative;
}

.user-container {
  color: black;
}

.dropdown button {
  background-color: white;
  margin: 0;
  border: 0;
}

.dropdown .btn-sm {
  color: black;
}

.dropdown span {
  font-size: 18px;
  font-weight: 500;
  color: rgb(73, 73, 73);
}

@media (max-width: 512px) {
  .navbar {
    display: none !important;
  }
}