.sidebar-container {
  height: 100%;
  /* background-color: var(--bg); */
  position: sticky;
  width: 270px;
  padding: 15px;
}

.sidebar-inner {
  background-color: white;
  border-radius: 15px;
  box-shadow: var(--shadow);
  margin-top: 5px;
  height: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll;
  scroll-behavior: auto;
}

@media (max-width: 512px) {
  .sidebar-container {
    display: none;
  }
}

.btn {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 11px !important;
  margin-top: 5px;
}

.sidebar-ul .btn:hover {
  background-color: var(--main-accent);
  border-radius: 11px;
}

.btn-text {
  font-size: 16px;
  font-weight: 400;
  padding-left: 5px;
  color: var(--main-text);
}

.menu-icon {
  margin-right: 9px;
}

.bi-play-circle-fill.open::after {
  transform: rotate(90deg);
}


.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
  background-color: var(--main-text);
  height: max-content;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.297);
}

.submenu .submenu-item span {
  color: var(--main-accent);
}

.submenu.openMenus {
  max-height: 500px;
}

.submenu .btn-toggle-nav {
  
  padding: 0px !important;
}

.btn-toggle-nav .submenu-item {
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 15px;
}

.btn-toggle-nav .submenu-item span {
  margin-left: 40px;
}

.btn-toggle-nav li:hover {
  background-color: #5d85fb;
  border-radius: 5px;
}

.bi-play-circle-fill {
  color: var(--main-text);
}

.horizon-line {
  border: solid 1px rgb(129, 131, 131);
}