.sidebar-container {
  height: 100%;
  background-color: rgb(58, 61, 62);
  position: sticky;
  width: 250px
}

.sidebar-container h1 {
  font-size: 40px;
}

@media (max-width: 512px) {
  .sidebar-container {
    display: none;
  }
}

.btn {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.btn-text {
  font-size: 20px;
}

.bi-play-circle-fill {
  margin-right: 10px;
}

.bi-play-circle-fill.open::after {
  transform: rotate(90deg);
}


.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
  background-color: rgb(140, 141, 141);
  height: max-content;
}

.submenu.openMenus {
  max-height: 500px;
}

.submenu .btn-toggle-nav {
  
  padding: 0px !important;
}

.btn-toggle-nav .submenu-item {
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 20px;
}

.btn-toggle-nav .submenu-item span {
  margin-left: 30px;
}

.btn-toggle-nav li:hover {
  background-color: #0d6efd;
}

.horizon-line {
  border: solid 1px rgb(129, 131, 131);
}