.email-list-preview {
  margin-bottom: 0;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.custom-pagination {
  margin-bottom: 12px;
  align-items: center;
}

.email-move-btn {
  width: 8%;
  min-width: 55px;
  color: white !important;
  background-color: #3558a9;
  text-align: center;

  padding: 5px !important;
  border: none;

  justify-content: center;
}

.email-move-btn:hover {
  background-color: #2859cc;
}

.email-move-btn:active {
  background-color: #2c64e7 !important;
}

.email-move-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #2859cc;
}

.email-move-btn:nth-child(1) {
  margin-right: 3px;
}

.email-list-btn-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.email-list-btn-group span {
  margin-right: 5px;
  font-size: 15px;
  color: rgb(109, 109, 109);
}

.custom-toolbar-btn-group {
  margin: 0 !important;
  display: flex;
  gap: 3px;
}

.custom-toolbar-btn-group button {
  padding: 9px !important;
  background-color: #3558a9;
  size: 10px;
}

.custom-toolbar-btn-group button:hover {
  background-color: #2859cc;
}

.custom-toolbar-btn-group button:active {
  background-color: #2c64e7 !important;
}

.email-toolbar-fa {
  color: white;
  font-size: 18px;
}

.fw-semibold {
  color: rgb(12, 100, 233);
}

.fw-semibold:hover {
  color: rgb(53, 88, 169);
}